<h1>New user</h1>
<%= form_for @user, :html => { novalidate: '', name: "newUser"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :'ng-model'=>'userCtrl.email', :type=>'email', :'required'=>'', :unique=>'' %>
  </div>
  <div class="field">
   <%= f.label :password %><br />
   <%= f.password_field :password, :'ng-model'=>'userCtrl.password', :type=>'password', :'required'=>'' %>
</div>
<div class="field">
   <%= f.label :password_confirmation %><br />
   <%= f.password_field :password_confirmation, :'ng-model'=>'userCtrl.password_confirmation', :type=>'password', :'required'=>'', :value => '' %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	
// password match
	$(document).ready(function() {
		$('#user_password_confirmation').on('input', function(){
				var password = $('#user_password').val();
				var confirm = $(this).val();
				console.log(password);
				console.log(confirm);
				if(password != confirm) {
					$(this).css({'border-color': 'red'});
				} else {
					$(this).css({'border-color': 'green'});
				}
		});
	});
</script>

<style type="text/css">
	
	.ng-invalid.ng-dirty {
    border-color: red; 
}

.ng-valid.ng-dirty {
    border-color: green; 
}
</style>



<%= link_to 'Back', users_path %>

