<h1 class="page-header">Sign Up</h1>

<%= form_for @user, 
             :html => { 
              novalidate: '', 
              name: "newUser", 
              role: 'form'} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, 
                     :'ng-model'=> 'userCtrl.email', 
                     :type=> 'email', 
                     :minlength => 2,
                     :maxlength => 20,
                     :placeholder => 'Email',
                     :'required'=>'', 
                     :unique => '', 
                     class: 'form-control' %>
  </div>
  <div class="form-group">
   <%= f.label :password %><br />
   <%= f.password_field :password, 
                        :'ng-model'=>'userCtrl.password', 
                        :type=>'password', 
                        :placeholder => 'Password',
                        :'required'=>'', 
                        class: 'form-control' %>
</div>
<div class="form-group">
   <%= f.label :password_confirmation %><br />
   <%= f.password_field :password_confirmation, 
                        :'ng-model'=>'userCtrl.password_confirmation', 
                        :type=>'password', :'required'=>'', 
                        :value => '',
                        class: 'form-control' %>
</div>
  <div class="actions">
    <%= f.submit 'Sign Up', 
                class: 'btn btn-default',
                'ng-disabled' => 'newUser.$invalid' %>
  </div>
<% end %>
<br>
<script type="text/javascript">
	
// password match - need to do this the angular way 
	$(document).ready(function() {
    $('#user_password_confirmation').css({'border-color': 'red'});
		$('#user_password_confirmation').on('input', function(){
				var password = $('#user_password').val();
				var confirm = $(this).val();
				if(password != confirm) {
					$(this).css({'border-color': 'red'});
				} else {
					$(this).css({'border-color': 'green'});
				}
		});
	});
</script>

<style type="text/css">
	
.ng-invalid.ng-dirty {
    border-color: red; 
}

.ng-valid.ng-dirty {
    border-color: green; 
}

.form-control {
   width: 25%;
}
</style>



<%= link_to 'Back', users_path %>

