<h1>Projects#edit</h1>

<%= form_for @project do |f|  %>
	<%= f.label :name %>
	<%= f.text_field :name  %>

	<%= f.label :short %>
	<%= f.text_field :short  %>

	<%= f.label :description %>
	<%= f.text_area :description  %>

	<%= f.label :link %>
	<%= f.text_field :link  %>

	<%= f.label :angular %>
	<%= f.check_box :angular %>

	<%= f.label :finished %>
	<%= f.check_box :finished %>

	<%= f.submit %>

<% end %>

