<h1>Projects#new</h1>

<%= form_for @project do |f|  %>
	<%= f.label :name %>
	<%= f.text_field :name  %>

	<%= f.label :description %>
	<%= f.text_area :description  %>

	<%= f.label :link %>
	<%= f.text_field :link  %>

	<%= f.submit %>

<% end %>