<!DOCTYPE html>
<html ng-app='angularResume'>
<head>
  <title>David Hurley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <h1 class='navbar-text navbar-left'>
          <%= link_to 'Projects', projects_path, class: 'navbar-brand'  %>
        </h1>
        <% if current_user %>
        <h3 class='navbar-text navbar-right'>
          <%= link_to "Logout", :logout, method: :post, class: 'navbar-brand' %>
        </h3>
        <% else %>
        <h3 class='navbar-text navbar-right'>
          <%= link_to "Login", :login, class: 'navbar-brand' %>
        </h3>
        <% end %>
      </div>
    </div>
  </nav>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <div class='container content'>
    
  
  <%= yield %>


  </div>
</body>
</html>
